C 0 0 "CPVDD" 0 0 0 0 60 0 L
X "PIN_TEXT" "CPVDD" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "CAPP" 0 -100 0 0 60 0 L
X "PIN_TEXT" "CAPP" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "CPGND" 0 -200 0 0 60 0 L
X "PIN_TEXT" "CPGND" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "CAPM" 0 -300 0 0 60 0 L
X "PIN_TEXT" "CAPM" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "VNEG" 0 -400 0 0 60 0 L
X "PIN_TEXT" "VNEG" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "OUTL" 0 -500 0 0 60 0 L
X "PIN_TEXT" "OUTL" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "OUTR" 0 -600 0 0 60 0 L
X "PIN_TEXT" "OUTR" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "AVDD" 0 -700 0 0 60 0 L
X "PIN_TEXT" "AVDD" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "AGND" 0 -800 0 0 60 0 L
X "PIN_TEXT" "AGND" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 0 -900 "DEMP" 0 -900 0 0 60 0 L
X "PIN_TEXT" "DEMP" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
C 1200 0 "DVDD" 1200 0 0 0 60 0 R
X "PIN_TEXT" "DVDD" 970 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 0 1200 0 -1 0
C 1200 -100 "DGND" 1200 -100 0 0 60 0 R
X "PIN_TEXT" "DGND" 970 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -100 1200 -100 -1 0
C 1200 -200 "LDOO" 1200 -200 0 0 60 0 R
X "PIN_TEXT" "LDOO" 970 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -200 1200 -200 -1 0
C 1200 -300 "XSMT" 1200 -300 0 0 60 0 R
X "PIN_TEXT" "XSMT" 970 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -300 1200 -300 -1 0
C 1200 -400 "FMT" 1200 -400 0 0 60 0 R
X "PIN_TEXT" "FMT" 970 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -400 1200 -400 -1 0
C 1200 -500 "LRCK" 1200 -500 0 0 60 0 R
X "PIN_TEXT" "LRCK" 970 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -500 1200 -500 -1 0
C 1200 -600 "DIN" 1200 -600 0 0 60 0 R
X "PIN_TEXT" "DIN" 970 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -600 1200 -600 -1 0
C 1200 -700 "BCK" 1200 -700 0 0 60 0 R
X "PIN_TEXT" "BCK" 970 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -700 1200 -700 -1 0
C 1200 -800 "SCK" 1200 -800 0 0 60 0 R
X "PIN_TEXT" "SCK" 970 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -800 1200 -800 -1 0
C 1200 -900 "FLT" 1200 -900 0 0 60 0 R
X "PIN_TEXT" "FLT" 970 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -900 1200 -900 -1 0
L 200 100 1000 100 -1 0
L 1000 -1000 1000 100 -1 0
L 1000 -1000 200 -1000 -1 0
L 200 100 200 -1000 -1 0
P "$LOCATION" "?" 1050 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

